 <%- include("header") -%>


    <div class="jumbotron centered" style="margin-top: 100px;">
        <div class="container">
          <i class="fas fa-key fa-6x"></i>
          <h1 class="display-3">To Do list</h1>
          <p class="lead">Welcome to you't planner!</p>
          <br>
          <hr>
          <br>
          <center>
            <a class='col s12 btn btn-large waves-effect waves-light  black deep-purple' href="/signup" role="button">SignUp</a>
            <a class='col s12 btn btn-large waves-effect waves-light  black deep-purple' href="/login" role="button">Login</a>
          </center>
          
      
        </div>
      </div>




  <%- include("footer") -%>